.stats-box.cellar-stats
  ul.stats-box-list
    = render('shared/stat', name: t('.your_cellared'), value: cellar.beers_count(brew)) if cellar.active?
    = render('shared/stat', name: t('.all_cellared'), value: brew.cellared_beers_count, wrapper: 'all-cellared')
