<h2>Browse Beer</h2>
<h3>FILTER BY:</h3>
<div class="row-fluid" id="sortbeers">
  <div class="span3">
  	<!--Cuisine -->
  	<form name="monthly" method="get" action="">	
  	<select name="menu1" onchange="MM_jumpMenu('parent',this,0)">
  	<option value="#" selected="selected">By Alphabet</option>
  	<option value="#">- - -</option>
  	</select>
  	</form>     
      
  </div><!--END row_03_col_01-->
  
  <div class="span3">
  
    <!--Location (Tags) -->
    <form name="monthly" method="get" action="">	
    <select name="menu1" onchange="MM_jumpMenu('parent',this,0)">
    <option value="#" selected="selected">By Region</option>
    <option value="#">- - -</option>
    </select>
    </form>
  
  </div><!--END row_03_col_02-->
  
  <div class="span3">
  
    <!--Monthly -->
    <form name="monthly" method="get" action="">	
    <select name="menu1" onchange="MM_jumpMenu('parent',this,0)">
    <option value="#" selected="selected">By Something</option>
    <option value="#">- - -</option>
    </select>
    </form>
  
  </div><!--END row_03_col_03-->
    
</div>

<fieldset class="beers-cellared">
  <legend>Beers</legend>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Brew</th>
        <th>Brewery</th>
        <th>Cellar It</th>
      </tr>
    </thead>
    <tbody>
      <% for brew in @brews %>
        <tr class="beer">
          <td><%= link_to brew.name, brew %></td>
          <td><%= link_to brew.brewery.name, brew.brewery %></td>
          <td>
            <%= link_to 'Cellar it!', new_beer_path, class: 'btn' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
<%= paginate @brews %>
