article.match-report ng-app='brewdegaCellar'
  ol.matches ng-controller='importMatchReportCtrl'
    == render partial: 'match'

  == render partial: 'import/destroy', locals: { ledger: match_report.ledger }
