---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/beer/VvFIVD?key=API_KEY&withBreweries=Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":{"id":"VvFIVD","name":"Hopslam
        Ale","description":"Starting with six different hop varietals added to the
        brew kettle & culminating with a massive dry-hop addition of Simcoe hops,
        Bell''s Hopslam Ale possesses the most complex hopping schedule in the Bell''s
        repetoire. Selected specifically because of their aromatic qualities, these
        Pacific Northwest varieties contribute a pungent blend of grapefruit, stone
        fruit, and floral notes. A generous malt bill and a solid dollop of honey
        provide just enough body to keep the balance in check, resulting in a remarkably
        drinkable rendition of the Double India Pale Ale style.","abv":"10","glasswareId":6,"availableId":8,"styleId":31,"isOrganic":"N","labels":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/VvFIVD\/upload_jPl9j1-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/VvFIVD\/upload_jPl9j1-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/VvFIVD\/upload_jPl9j1-large.png"},"status":"verified","statusDisplay":"Verified","foodPairings":"Pair
        Hopslam with mid-rare rib eye with blue cheese sauce, grilled pork loin with
        cilantro\/sage\/garlic pesto, grilled asparagus or fennel bulbs.","originalGravity":"1.087","createDate":"2012-01-03
        02:43:26","updateDate":"2014-01-19 11:12:27","glass":{"id":6,"name":"Snifter","createDate":"2012-01-03
        02:41:33"},"available":{"id":8,"name":"Winter","description":"Available during
        the winter months."},"style":{"id":31,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"Imperial
        or Double India Pale Ale","description":"Imperial or Double India Pale Ales
        have intense hop bitterness, flavor and aroma. Alcohol content is medium-high
        to high and notably evident. They range from deep golden to medium copper
        in color. The style may use any variety of hops. Though the hop character
        is intense it''s balanced with complex alcohol flavors, moderate to high fruity
        esters and medium to high malt character. Hop character should be fresh and
        lively and should not be harsh in quality. The use of large amounts of hops
        may cause a degree of appropriate hop haze. Imperial or Double India Pale
        Ales have medium-high to full body. Diacetyl should not be perceived. The
        intention of this style of beer is to exhibit the fresh and bright character
        of hops. Oxidative character and aged character should not be present.","ibuMin":"65","ibuMax":"100","abvMin":"7.5","abvMax":"10.5","srmMin":"5","srmMax":"13","ogMin":"1.075","fgMin":"1.012","fgMax":"1.02","createDate":"2012-03-21
        20:06:45"},"breweries":[{"id":"noGtDY","name":"Bell''s Brewery, Inc.","description":"Bell''s
        Brewery, Inc. began in 1985 with a quest for better beer and a 15 gallon soup
        kettle. Since then, we''ve grown into a regional craft brewery that employs
        more than 200 people over an 18 state area, in addition to Puerto Rico and
        Washington DC. The dedication to brewing flavorful, unfiltered, quality craft
        beers that started in 1985 is still with us today. We currently brew over
        20 beers for distribution as well as many other small batch beers that are
        served at our pub in Kalamazoo, the Eccentric Cafe. Our ongoing goal is to
        brew thoughtfully, creatively and artistically. We strive to bring an authentic
        and pleasant experience to all of our customers through our unique ales and
        beers.","website":"http:\/\/www.bellsbeer.com\/","established":"1985","isOrganic":"N","images":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/noGtDY\/upload_t0bnSw-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/noGtDY\/upload_t0bnSw-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/noGtDY\/upload_t0bnSw-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:45","updateDate":"2013-08-14 19:18:55","locations":[{"id":"NnffJ2","name":"Main
        Brewery","streetAddress":"8938 Krum Ave.","locality":"Galesburg","region":"Michigan","postalCode":"49053","phone":"269-382-2338","website":"http:\/\/www.bellsbeer.com\/","latitude":42.2843486,"longitude":-85.4538497,"isPrimary":"Y","inPlanning":"N","isClosed":"N","openToPublic":"Y","locationType":"micro","locationTypeDisplay":"Micro
        Brewery","countryIsoCode":"US","yearOpened":"1985","status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:45","updateDate":"2014-05-30 10:19:24","country":{"isoCode":"US","name":"UNITED
        STATES","displayName":"United States","isoThree":"USA","numberCode":840,"createDate":"2012-01-03
        02:41:33"}},{"id":"uCUre7","name":"Eccentric Caf\u00e9","streetAddress":"355
        E Kalamazoo Ave","locality":"Kalamazoo","region":"Michigan","postalCode":"49007","website":"http:\/\/bellsbeer.com\/eccentric-cafe\/","hoursOfOperation":"Mon.-Wed.:
        11 a.m.-12 a.m.\r\nThu.-Sat.: 11 a.m.-2 a.m.\r\nSun.: Noon-12 a.m.","latitude":42.294894,"longitude":-85.5787942,"isPrimary":"N","inPlanning":"N","isClosed":"N","openToPublic":"Y","locationType":"restaurant","locationTypeDisplay":"Restaurant\/Ale
        House","countryIsoCode":"US","status":"verified","statusDisplay":"Verified","createDate":"2013-09-26
        11:44:59","updateDate":"2013-09-26 11:44:59","country":{"isoCode":"US","name":"UNITED
        STATES","displayName":"United States","isoThree":"USA","numberCode":840,"createDate":"2012-01-03
        02:41:33"}}]}]},"status":"success"}'
  recorded_at: Wed, 18 Jun 2014 20:34:56 GMT
recorded_with: VCR 2.9.2
