---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/beer/VvFIVD?key=API_KEY&withBreweries=Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"READ ONLY MODE: Request Successful","data":{"id":"VvFIVD","name":"Hopslam
        Ale","description":"Starting with six different hop varietals added to the
        brew kettle & culminating with a massive dry-hop addition of Simcoe hops,
        Bell''s Hopslam Ale possesses the most complex hopping schedule in the Bell''s
        repetoire. Selected specifically because of their aromatic qualities, these
        Pacific Northwest varieties contribute a pungent blend of grapefruit, stone
        fruit, and floral notes. A generous malt bill and a solid dollop of honey
        provide just enough body to keep the balance in check, resulting in a remarkably
        drinkable rendition of the Double India Pale Ale style.","abv":"10","ibu":"70","glasswareId":5,"availableId":8,"styleId":31,"isOrganic":"N","labels":{"icon":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/VvFIVD\/upload_jPl9j1-icon.png","medium":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/VvFIVD\/upload_jPl9j1-medium.png","large":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/VvFIVD\/upload_jPl9j1-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:43:26","updateDate":"2012-03-22 13:04:58","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"available":{"id":"8","name":"Winter","description":"Available
        during the winter months."},"style":{"id":31,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"Imperial
        or Double India Pale Ale","description":"Imperial or Double India Pale Ales
        have intense hop bitterness, flavor and aroma. Alcohol content is medium-high
        to high and notably evident. They range from deep golden to medium copper
        in color. The style may use any variety of hops. Though the hop character
        is intense it''s balanced with complex alcohol flavors, moderate to high fruity
        esters and medium to high malt character. Hop character should be fresh and
        lively and should not be harsh in quality. The use of large amounts of hops
        may cause a degree of appropriate hop haze. Imperial or Double India Pale
        Ales have medium-high to full body. Diacetyl should not be perceived. The
        intention of this style of beer is to exhibit the fresh and bright character
        of hops. Oxidative character and aged character should not be present.","ibuMin":"65","ibuMax":"100","abvMin":"7.5","abvMax":"10.5","srmMin":"5","srmMax":"13","ogMin":"1.075","fgMin":"1.012","fgMax":"1.02","createDate":"2012-03-21
        20:06:45"},"breweries":[{"id":"noGtDY","name":"Bell''s Brewery","description":"In
        2003, Bell''s proudly opened a new production brewery in nearby Comstock,
        Michigan. The new brewery has now seen three major additions and encompasses
        60,000 square feet of building on a 24 acre site The Quality Assurance department
        has thrived in the new facilities, implementing procedures and techniques
        that assure that Bell''s is consistently putting out the very best beer possible.
        Total brewing capacity now stands at 140,000 bbls. At the Kalamazoo Avenue
        location, an historical rehabilitation has brought about a pleasant architectural
        change to the city landscape.  Our ongoing goal is to brew thoughtfully, creatively
        and artistically. We strive to bring an authentic and pleasant experience
        to all of our customers through our unique ales and beers. We look forward
        to sharing our beers with you.","website":"http:\/\/www.bellsbeer.com\/","established":"1985","isOrganic":"N","images":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/noGtDY\/upload_KY2kdU-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/noGtDY\/upload_KY2kdU-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/noGtDY\/upload_KY2kdU-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:45","updateDate":"2012-04-09 19:01:20"}]},"status":"success"}'
  recorded_at: Sat, 18 Aug 2012 01:19:15 GMT
recorded_with: VCR 2.2.4
