@mixin button-flat($style: flat, $base-color: #DDD) {

  @if $base-color == grayscale($base-color) {
    @include flat($base-color, $grayscale: true);
  }
  @else {
    @include flat($base-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@mixin flat($base-color, $grayscale: false) {
  $color: hsl(0, 0, 100%);

  @if lightness($base-color) > 70% {
    $color: hsl(0, 0, 20%);
  }

  @include transition-property(background);
  @include transition-duration(0.3s);

  background-clip: padding-box;
  background-color: $base-color;
  border: none;
  box-shadow: none;
  color: $color;
  display: inline-block;
  text-decoration: none;
  text-shadow: none;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: lighten($base-color, 5%);
    cursor: pointer;
  }

  &:active:not(:disabled) {
    @include transition-duration(0s);
    background-color: desaturate($base-color, 20%);
    color: darken($base-color, 20%);
  }
}
