@import 'neat-helpers';

// Change the default grid settings
// $column: golden-ratio(1em, 3); // Column width
$gutter: golden-ratio(1em, 1); // Gutter between each two columns
// $grid-columns: 12; // Total number of columns in the grid
$max-width: em(1088); // Max-width of the outer container
// $border-box-sizing: true; // Makes all elements have a border-box layout
// $default-layout-direction: LTR;

// Define your breakpoints
$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: ($tablet-size + 1);
$desktop-large-size: 979px;

$desktop: new-breakpoint(min-width $desktop-size 12);
$desktop-small: new-breakpoint(min-width $desktop-size max-width $desktop-large-size 12);
$tablet: new-breakpoint(max-width $tablet-size 8);
$mobile: new-breakpoint(max-width $mobile-size 4);
