@import 'neat-helpers';

// Change the default grid settings
// $column: golden-ratio(1em, 3); // Column width
// $gutter: golden-ratio(1em, 1); // Gutter between each two columns
// $grid-columns: 12; // Total number of columns in the grid
// $max-width: em(1088); // Max-width of the outer container
// $border-box-sizing: true; // Makes all elements have a border-box layout
// $default-layout-direction: LTR;

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 8);
$desktop: new-breakpoint(min-width 769px 12);
