@mixin small-text {
  font-size: 0.9em;
  line-height: 1.4em;
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin centered-definition-list {
  dt {
    clear: left;
    display: block;
    float: left;
    width: 45%;
    text-align: right;
  }
  dd {
    display: block;
    text-align: left;
    margin-left: 50%;
  }
}

@mixin inline-definition-list {
  dt {
    @include inline-block;
    margin-right: 0.5em;
  }
  dd {
    @include inline-block;
    margin-right: 2em;
  }
}

@mixin clickable($color: $orange) {
 &:hover { color: $color; }
}

@mixin transition-glow($property: all, $duration: 0.1s, $timing-function: ease-in) {
  &:hover, &:focus {
    text-decoration: none;
    text-shadow: 0 0 4px white;
    @include transition($property, $duration, $timing-function);
  }
}
