// Ensures the hover state also has the correct color;
@mixin clickable($color: $blue) {
  color: $color;

  &:link,
  &:visited {
    color: $color;

    &:active,
    &:focus,
    &:hover { color: darken($color, 15%); }
  }
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Apply glow transistion on :hover and :focus
@mixin transition-glow($property: all, $duration: 0.1s, $timing-function: ease-in) {
  &:hover, &:focus {
    text-decoration: none;
    text-shadow: 0 0 4px white;
    @include transition($property, $duration, $timing-function);
  }
}

@mixin centered-definition-list {
  dt {
    clear: left;
    display: block;
    float: left;
    width: 45%;
    text-align: right;
  }
  dd {
    display: block;
    text-align: left;
    margin-left: 50%;
  }
}

@mixin inline-definition-list {
  dt {
    @include inline-block;
    margin-right: 0.5em;
  }
  dd {
    @include inline-block;
    margin-right: 2em;
  }
}

// ------------------------------------------------------------
// Omega Reset for Bourbon Neat
// ------------------------------------------------------------
// from: http://joshfry.me/notes/omega-reset-for-bourbon-neat/
//
// Allows you to reset omega() styles on new media queries
// when you need to change the number of columns
//
// Useage:
//
// @include breakpoint(480px)  {
//  @include span-columns(6);
//  @include omega(2n);
// }
// @include breakpoint(768px)  {
//  @include omega-reset(2n);
//  @include span-columns(4);
//  @include omega(3n);
// }
//
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
