// Font Stack
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

$large-font-family: "alternate-gothic-no-2-d", Helvetica, Arial, sans-serif !default;
$small-font-family: "futura-pt", Helvetica, Arial, sans-serif !default;
$text-block-font-family: Helvetica, Arial, sans-serif !default;

// Font Sizes
$base-font-size: 1rem; // this isn't supported in IE8
$base-line-height: $base-font-size * 1.375;

