// Colors
///////////////////////////////////////////////////////////////////////////////
$beige: #E2DEBE;
$beige-light: #F0F0E1;
$blue: #066C7F;
$brown: #754D2E;
$brown-accent: #574944;
$brown-highlight: #C3A893;
$gray-dark: #333;
$gray-light: #A79D99;
$green: #7db500;
$green-light: #E6EFC2;
$orange: #F2664F;
$orange-bright: #F15929;
$red: #E54028;
$red-light: #FBE3E4;
$yellow: #FEC846;
$yellow-light: #FFF6BF;

//  Font Colors
$base-font-color: $brown;
$base-font-color-light: desaturate(lighten($base-font-color, 15%), 10%);
$base-font-color-disabled: lighten($base-font-color, 25%);

//  Text Link Colors
$base-link-color: $blue;
$hover-link-color: darken($base-link-color, 15%);

// Border Colors
$base-border-color: $gray-light;
$base-border-color-light: lighten($base-border-color, 15%);

// Background Colors
$base-background-color-disabled: lighten($base-font-color-disabled, 45%);

// Section Colors (for cards, wells, callouts, etc.)
$section-background-color: $beige-light;
$section-border-color: $beige;

// Flash Colors
$error-color: $red-light;
$notice-color: $yellow-light;
$success-color: $green-light;

$awning-height: 86px;

// z-index-es
$awning-z-index: 1000;
