---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/brewery/Idm5Y5/beers?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"message":"READ ONLY MODE: Request Successful","data":[{"id":"K9H5DZ","name":"10k
        IPA","abv":"9.1","glasswareId":5,"availableId":2,"styleId":31,"isOrganic":"N","status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:42:36","updateDate":"2012-03-22 13:05:34","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"available":{"id":"2","name":"Limited","description":"Limited availability."},"style":{"id":31,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"Imperial
        or Double India Pale Ale","description":"Imperial or Double India Pale Ales
        have intense hop bitterness, flavor and aroma. Alcohol content is medium-high
        to high and notably evident. They range from deep golden to medium copper
        in color. The style may use any variety of hops. Though the hop character
        is intense it''s balanced with complex alcohol flavors, moderate to high fruity
        esters and medium to high malt character. Hop character should be fresh and
        lively and should not be harsh in quality. The use of large amounts of hops
        may cause a degree of appropriate hop haze. Imperial or Double India Pale
        Ales have medium-high to full body. Diacetyl should not be perceived. The
        intention of this style of beer is to exhibit the fresh and bright character
        of hops. Oxidative character and aged character should not be present.","ibuMin":"65","ibuMax":"100","abvMin":"7.5","abvMax":"10.5","srmMin":"5","srmMax":"13","ogMin":"1.075","fgMin":"1.012","fgMax":"1.02","createDate":"2012-03-21
        20:06:45"}},{"id":"n5eVF5","name":"2011 Bushing Monk","description":"Fermented
        with pure raspberries","abv":"9.2","glasswareId":5,"styleId":70,"isOrganic":"N","labels":{"icon":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/n5eVF5\/upload_3b1cRD-icon.png","medium":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/n5eVF5\/upload_3b1cRD-medium.png","large":"http:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/n5eVF5\/upload_3b1cRD-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:42:37","updateDate":"2012-03-22 13:05:23","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"style":{"id":70,"categoryId":5,"category":{"id":5,"name":"Belgian
        And French Origin Ales","createDate":"2012-03-21 20:06:46"},"name":"Other
        Belgian-Style Ales","description":"Recognizing the uniqueness [...]
