.awning.navbar {
  $top-padding: 20px;
  $query-top-margin: -0.25 * $top-padding;
  $avatar-size: 32px;

  .btn { margin-top: 0; }

  color: white;

  .navbar-inner {
    height: $navbarHeight;
    background: transparent image-url('awning.png') repeat-x;
    border: 0 none;
    @include box-shadow(none);
  }

  .brand {
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;

    img { height: 80px; }
    span { display: none; }
  }

  .search-box {
    display: inline-block;
    line-height: $avatar-size;
    margin-left: 1em;
    margin-top: $top-padding;
    max-width: 20em;
    width: 45%;

    .search-form-wrapper { display: none; }

    form.search {
      display: inline-block;
      margin: 0;
      width: 100%;

      .query {
        margin-top: $query-top-margin;
        width: 100%;
      }

      .search-button {
        display: none;
      }
    }
  }

  .search-indicator {
    @include transition-glow;

    color: white;
    text-transform: uppercase;

    i { margin-right: 0.5em; }
  }

  .current-user-links {
    float: right;
    list-style: none;
    padding-top: $top-padding !important;

    a {
      @include transition-glow;

      color: white;
      padding: 0.5em 0.25em 0.5em 0.25em;

      i { font-size: 1.25em; }
    }

    li {
      display: inline-block;
    }

    .avatar {
      width: $avatar-size;

      @include border-radius(2px);
    }

    .username { margin-left: 1em; }

    .my-profile {
      border-right: 1px solid white;
      padding-right: 0.5em;
      margin-right: 0.5em;
    }

    .sign-in { padding-right: 0.5em; }
    .sign-up a {
      @extend .btn;
      @extend .btn-success
    }
  }
}
