.awning.navbar {
  $topPadding: 15px;
  .btn { margin-top: 0; }

  color: white;

  .navbar-inner {
    height: $navbarHeight;
    background: transparent image-url('awning.png') repeat-x;
    border: 0 none;
    @include box-shadow(none);
  }

  .brand {
    padding-bottom: 0;
    padding-top: 0;

    img { height: 80px; }
    span { display: none; }
  }

  .search-indicator {
    color: white;
    text-transform: uppercase;

    &:hover, &:focus {
      text-decoration: none;
      text-shadow: 0 0 4px white;
      @include transition(all 0.4s linear);
    }

    i { margin-right: 0.5em; }
  }

  .search-box {
    display: inline-block;
    margin-top: $topPadding;

    .search-form-wrapper { display: none; }

    form.search {
      display: inline-block;
      margin: 0;
    }
  }

  .current-user-links {
    float:right;
    list-style: none;
    padding-top: $topPadding !important;

    a {
      color: white;
      padding: 0.5em 0.25em 0.5em 0.25em;

      i { font-size: 1.25em; }

      &:hover, &:focus {
        text-decoration: none;

        & > i {
          text-shadow: 0 0 4px white;
          @include transition(all 0.4s linear);
        }
      }
    }

    li {
      display: inline-block;
    }

    .avatar {
      margin-right: 1em;
      width: 32px;

      @include border-radius(2px);
    }

    .my-profile {
      border-right: 1px solid white;
      padding-right: 0.5em;
      margin-right: 0.5em;
    }

    .sign-in { padding-right: 0.5em; }
    .sign-up a {
      @extend .btn;
      @extend .btn-success
    }
  }
}
