.awning.navbar {
  .navbar-inner {
    height: $navbarHeight;
    background: transparent image-url('awning.png') repeat-x;
    @include box-shadow(none);
  }

  .brand {
    background: image-url('brewdega-logo-small.png') no-repeat 50% 10px;
    float: right;
    width: 132px;

    span { visibility: hidden; }
  }

  .current-user-links {
    .gravatar { margin-right: 1em; }

    & > a {
      padding-top: 15px !important;
      padding-bottom: 5px !important;

      .caret {
        vertical-align: middle;
        margin-left: 0.5em;
        margin-top: -2px;
      }
    }
  }
}
