.cards {
  list-style: none;
  margin-left: 0;

  .card {
    $label-width: 7em;

    background-color: white;
    border: 1px solid $beige;
    border-bottom: none;
    color: $brown;
    margin-bottom: 1em;
    @include border-top-radius(4px);

    .content {
      min-height: $label-width;
      padding: 0.5em;
    }

    figure {
      float: left;
      margin: 0;
      width: $label-width;

      img {
        background-color: white;
      }
    }

    .specifics {
      margin-left: $label-width + 0.5em;

      .name {
        font-family: $large-font-family;
        margin: 0;
        text-transform: none;

        a {
          display: block;
          @include text-overflow;
        }
      }
    }

    .details {
      margin: 0;
      font-family: $text-block-font-family;

      li {
        display: inline-block;
        margin-right: 1em;

        > label {
          color: $brown-highlight;
          cursor: text;
          display: inline;
          font-family: $small-font-family;
          font-size: 0.75em;
          margin-right: 0.75em;
        }
      }
    }

    .inventory {
      $footer-height: 1.75em;

      display: inline-block;
      list-style: none;
      margin: 0;

      li {
        color: $brewdega-orange;
        font-family: $text-block-font-family;
        font-size: 1.4em;
        display: inline-block;
        padding: 0.25em 0.25em 0;
        border-right: 1px solid white;
        text-align: center;
        height: $footer-height;
        vertical-align: middle;
      }

      label {
        color: $brown;
        cursor: text;
        font-family: $small-font-family;
        font-size: 0.5em;
        line-height: 1em;
        margin: 0;
      }

      .actions {
        line-height: $footer-height;
        padding-left: 0;
        padding-right: 0;

        a {
          color: $brown;
          padding: 0.5em 0.5em 0;
          @include clickable;

          &:hover { text-decoration: none; }
        }
      }
    }

    .footer {
      background-color: $beige;
      clear: both;
      margin: 0.25em 0 0;
    }

    /* Landscape phones and down */
    @media (max-width: 480px) {
      .name a,
      .breweries,
      .style { white-space: normal !important; }
    }

  } // .card
}

@media (max-width: 979px) and (min-width: 768px) {
  /* We are overriding the normal span4 behavior to act like a span 6 */
  .row-fluid {
    .cards .span4 {
      @include grid-fluid-span(6, $fluidGridColumnWidth768, $fluidGridGutterWidth);
      margin-left: $fluidGridGutterWidth !important;
    }
  }
}

@import 'brew_card';
