footer {
  background-color: $mutedBrown;
  min-height: 10em;
  padding: $gridGutterWidth;
  padding-bottom: $gridGutterWidth/2;

  ul {
    list-style: none;
    margin-left: 0px;
    li {
      border-bottom: 1px dotted #968883;
      color: white;
      font-size: 11px;
      padding: 6px 0 6px 0;
    }
  }

  .newsletter {
    input[type=email] {
      margin: 0 0.5em 0.5em 0;
      max-width: 20em;
      width: 90%;
    }
  }

  p.small {
    color: white;
    font-size: 11px;
    line-height: 14px;
  }
}
