.page-header {
  $pageHeaderHeight: 80px;

  border-bottom: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;

  .home {
    display: inline-block;
    line-height: $pageHeaderHeight;
  }

  .secondary-nav {
    text-align: right;

    li {
      display: inline-block;
      line-height: $pageHeaderHeight;
      margin-left: $gridGutterWidth;
      text-transform: uppercase;
      font-family: $smallFontFamily;
    }

    a {
      $linkColor: $brown;

      color: $linkColor;
      font-size: 1.1em;
      font-weight: bolder;
      letter-spacing: 2px;
      text-decoration: none;
      &:hover { color: darken($linkColor, 15%); }
    }
  }

  $search_browse_base_font_size: 1.8;
  $search_browse_height: 4;

  .search {
    position: relative;

    .query {
      background: no-repeat 15px center image-url('searchiconline_large.png');
      font-size: $search_browse_base_font_size * 1em;
      height: ($search_browse_height/$search_browse_base_font_size) * 1em;
      line-height: 1.5em;
      padding-left: 2.5em;
      padding-right: 3.5em;
      width: 100%;
      @include box-sizing(border-box);
    }

    .search-button {
      $search_margin: 0.25em;

      top: $search_margin;
      right: $search_margin;
      bottom: $search_margin;
      font-weight: bolder;
      position: absolute;
      text-transform: uppercase;
    }
  }

  .browse {
    background-color: $brown;
    height: $search_browse_height * 1em;

    & > a {
      color: $lightBrown;
      display: block;
      font-family: $largeFontFamily;
      font-size: $search_browse_base_font_size * 1.11em;
      line-height: 2.2em; //hacky attempt to center the text.
      padding: 0 0.5em;
      text-transform: uppercase;

      .caret {
        border-top: 4px solid white;
        float: right;
        margin-top: 0.5em;
      }
    }

    .dropdown-menu {
      background-color: $brown;

      a {
        $linkColor: $yellow;

        color: $linkColor;
        font-size: 1.1em;
        font-weight: bolder;
        text-decoration: none;
        &:hover { color: darken($linkColor, 15%); }
      }
    }
  }
}

