.profile-box {
  background-color: #fec846;
  padding: 1em 0;

  @include border-radius(3px);

  .keeper-avatar {
    text-align: center;

    .avatar {
      @include border-radius(3px);
    }
  }

  .keeper {
    .username {
      color: $brown;
      margin: 0;
      padding: 0;
      text-transform: none;
    }
    .demographics {
      $text: $brown;
      $lighterText: $mutedBrown;

      margin-top: 0px;
      margin: 0;
      padding: 0;
      position: relative;
      top: -0.5em;

      @include inline-definition-list;

      dt {
        color: $lighterText;
        margin-right: 0.25em;
        text-align: left;
      }

      dd {
        color: $text;
      }

      .joined {
        color: $lighterText;
        time { color: $text; }
      }
    }
  }
  .stats {
    dl {
      color: $brewdega-orange;
      margin-bottom: 0;
      margin-top: 0;
    }
    dt {
      font-family: $largeFontFamily;
      text-transform: uppercase;
    }
    dd {
      border-right: 1px solid $brown;
      background-color: #f8d47d;
      color: $brown;
      display: inline-block;
      font-family: $smallFontFamily;
      letter-spacing: 1px;
      min-height: 3em;
      padding: 0.5em 0.5em 0.25em;
      text-align: center;
      text-transform: uppercase;

      &:first-of-type {
        @include border-left-radius(8px);
      }
      &:last-of-type {
        border-right: none;
        @include border-right-radius(8px);
      }

      span {
        display: block;
        color: $brewdega-orange;
        font-size: 2em;
      }
    }
    .bio dd {
      text-align: justify;
      text-transform: none;
    }
  }

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {

    .keeper {
      text-align: center;
      dt { text-align: left; }

      .demographics {

        @include centered-definition-list();
      }
    }
  }
}
