.profile-box {
  background-color: $yellow;
  $text-well-background-color: #f8d47d;
  $text-well-color: $brown;

  padding: 1em;
  margin-bottom: 1em;

  @include border-radius(3px);

  .avatar {
    float: left;
    margin-right: 1em;
    width: 128px;
    @include border-radius(3px);
  }

  .bio {
    $line-height: 1.1em;

    clear: both;
    color: $text-well-color;
    font-family: $text-block-font-family;
    font-size: 0.8em;
    line-height: $line-height;
    margin: 0.5em 0 0;
  }

  .username {
    color: $brown;
    margin: 0;
    padding: 0;
    text-transform: none;

    small {
      color: lighten(desaturate($brown, 20%), 15%);
      margin-left: 0.5em;
      white-space: nowrap;
    }
  }
  .demographics {
    $text: $brown;
    $lighterText: $brown-accent;

    color: $text;
    list-style: none;
    margin: 0;
    position: relative;
    top: -0.5em;

    li {
      display: inline-block;
      margin-right: 1em;
      @include text-overflow;
    }

    i {
      color: $lighterText;
      margin-right: 0.25em;
    }
  }

  .stats {
    dl {
      color: $brewdega-orange;
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 1em;
    }
    dt {
      font-family: $largeFontFamily;
      letter-spacing: 0px;
    }
    dd {
      background-color: $text-well-background-color;
      border-right: 1px solid $brown;
      color: $text-well-color;
      display: inline-block;
      font-family: $smallFontFamily;
      font-size: 0.7em;
      min-height: 3em;
      padding: 0.5em 0.5em 0.25em;
      text-align: center;
      text-transform: uppercase;

      &:first-of-type {
        @include border-left-radius(8px);
      }
      &:last-of-type {
        border-right: none;
        @include border-right-radius(8px);
      }

      span {
        color: $brewdega-orange;
        display: block;
        font-size: 2.5em;
      }
    }
  }

  /* Landscape phones and down */
  @media (max-width: 480px) {
    $avatar-width: 80px;

    .avatar {
      margin-right: 0.5em;
      width: $avatar-width;
    }

    .username {
      line-height: 1em;

      small { display: none; }
    }

    .demographics {
      font-family: $smallFontFamily;
      font-size: 0.9em;
      margin-left: $avatar-width + 8;
      top: 0;

      li {
        line-height: 1em;
        white-space: nowrap;
        width: 100%;
      }
    }

    .stats {
      margin-top: 0.5em;
    }

    .bio { display: none; }
  }
}
