<article class="cellar">
  <article class="owner">
    <h2 class="owner-name"><%= @user.username %></h2>
    <dl class="owner-details">
      <dt>Email: </dt><dd><%= @user.email %></dd>
    </dl>
  </article>
</article>
