@mixin small-text {
  font-size: 0.9em;
  line-height: 1.4em;
}

@mixin centered-definition-list {
  dt {
    clear: left;
    display: block;
    float: left;
    width: 45%;
    text-align: right;
  }
  dd {
    display: block;
    text-align: left;
    margin-left: 50%;
  }
}

@mixin inline-definition-list {
  dt {
    display: inline-block;
    margin-left: 2em;
    margin-right: 0.5em;
  }
  dd {
    display: inline-block;
  }
}
