$brewdega-orange: #F2664F;
$brown: #754D2E;
$lightBrown: desaturate(lighten($brown, 35%), 15%);
$mutedBrown: #574944;
$yellow: #fec846;
$darkyellow: #e28b10;
$beige: #fcfbf4;

$navbarHeight: 86px;
$navbarBackground: $brewdega-orange;
$navbarBackgroundHighlight: lighten($navbarBackground, 10%);
$navbarLinkColor: white;

$linkColor: $brewdega-orange;
$largeFontFamily: "alternate-gothic-no-2-d", Helvetica, Arial, sans-serif !default;
$smallFontFamily: "futura-pt", Helvetica, Arial, sans-serif !default;

$tableBackground: $beige;
$tableBackgroundAccent: desaturate(darken($tableBackground, 15%), 20%);
$tableBackgroundHover: desaturate(darken($tableBackground, 5%), 5%);
