@import '../../globals/all';

.staff {
  fieldset {
    @include pad;
    border: 1px solid $base-border-color;
    margin-bottom: 1em;

    legend {
      padding: 0 0.25em;
    }
  }
}

.style-guide-section {
  &.buttons {
    button, .btn {
      margin: 0 1em 0.5em 0;
    }
  }
}

.mobile-desktop-preference {
  .preference {
    display: block;
    font-family: $header-font-family;
    font-size: 2rem;
    margin-bottom: 0.5em;
    text-align: center;
  }

  [class^="fa fa-"] { margin-right: 0.25em; }

  .reset-mobile {
    margin-top: 2em;
    text-align: center;
  }
}

.maintenance-tasks{
  .maintenance-task {
    @include pad;
    @include row;
    border: 1px solid $section-border-color;
    border-radius: 3px;
    margin-bottom: 1em;
  }

  .maintenance-task-details {
    @include span-columns(7 of 9);
  }

  .maintenance-task-description {
    margin-bottom: 0;
  }

  .maintenance-task-action {
    @include span-columns(2 of 9);
    text-align: right;
  }

  @include media($mobile) {
    .maintenance-task-details,
    .maintenance-task-action {
      @include fill-parent;
      margin-bottom: 0.5em;
    }

    .maintenance-task-run { width: 100%; }
  }
}
