development: &development
  adapter: postgresql
  encoding: unicode
  database: cellar_development
  pool: <%= ENV['WEB_DB_POOL_SIZE'] || ENV['WEB_CONCURRENCY'] || 5 %>

test:
  <<: *development
  database: cellar_test

# production: NOT HERE because Heroku uses ENV['DATABASE_URL']
