@import '../globals/all';

.angucomplete-holder {
  $image-border-color: $base-border-color-light;
  $image-border-radius: 50%;
  $image-size: 2em;

  position: relative;

  .angucomplete-dropdown {
    background-color: white;
    border: 1px solid $base-border-color;
    border-radius: 3px;
    cursor: pointer;
    margin-top: -0.5em;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  .angucomplete-searching {
    @include pad;
    color: $base-font-color-light;
    font-family: $large-font-family;
    font-size: 1.5em;
  }

  .angucomplete-row {
    padding: 5px;

    &:hover,
    &.angucomplete-selected-row {
      background-color: $blue;
      color: white;
    }
  }

  .angucomplete-image-holder {
    display: inline-block;
    height: $image-size;
    margin-right: 0.25em;
    vertical-align: middle;
    width: $image-size;
  }

  .angucomplete-image {
    border-radius: $image-border-radius;
    border: 1px solid $image-border-color;
  }

  .angucomplete-image-default {
    background-image: url(asset_path('no-label.png'));
    background-size: contain;
    border-radius: $image-border-radius;
    border: 1px solid $image-border-color;
    height: $image-size;
    width: $image-size;
  }

  .angucomplete-title {
    display: inline-block;
  }

  .angucomplete-description {
    font-size: 0.8em;
    font-weight: 200;
    line-height: 1em;
  }
}

