@import 'globals/all';

$beacon-active-color: saturate($orange-bright, 15%);
$beacon-inactive-color: desaturate($orange-bright, 40%);

.beacon {
  $container-size: 0.75em;
  $dot-size: $container-size * 0.25;
  $ring-size: $container-size;
  $dot-offset: ($container-size - $dot-size) / 2;
  $ring-offset: ($container-size - $ring-size) / 2;

  @include animation-duration(1s);
  display: inline-block;
  height: $container-size;
  position: relative;
  vertical-align: baseline;
  width: $container-size;

  .dot {
    background-color: $beacon-inactive-color;
    border-radius: $dot-size;
    border: 3px solid transparent;
    box-shadow: 0 0 9px #666;
    position: absolute;
    left: $dot-offset;
    top: $dot-offset;
    height: $dot-size;
    width: $dot-size;
    z-index: 10;
  }

  .ring {
    border-radius: $ring-size;
    border: 3px solid $beacon-active-color;
    height: $ring-size;
    left: $ring-offset;
    top: $ring-offset;
    opacity: 0;
    width: $ring-size;
  }

  &.pulse {
    .dot {
      @include animation(beacon-dot-pulse 1.0s ease-out);
      @include animation-iteration-count(1);
    }
    .ring {
      @include animation(beacon-ring-pulse 1.0s);
      @include animation-iteration-count(1);
    }
  }
}

// Must define at top-level so not nested under .beacon
@include keyframes(beacon-dot-pulse) {
  from {
    background-color: $beacon-inactive-color;
    box-shadow: 0 0 9px #666;
  }
  50% {
    background-color: $beacon-active-color;
    box-shadow: 0 0 18px #666;
  }
  to {
    background-color: $beacon-inactive-color;
    box-shadow: 0 0 9px #666;
  }
}

@include keyframes(beacon-ring-pulse) {
  0% {
    opacity: 1;
    @include transform(scale(0.0));
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    @include transform(scale(1.0));
  }
}
