@import 'item-lists';

.beer-list {
  @extend %item-list;
}

.beer-list-beer {
  $action-width: 1.5rem;
  $item-height: 3em;

  background-color: rgba(white, 0.9);

  .beer-list-beer-body {
    @include clearfix;
  }

  .see-more,
  .for-trade {
    font-size: 1.25rem;
    line-height: $item-height;
    text-align: center;
    width: $action-width;
  }

  .see-more {
    float: right;
    @include clickable;
    @include transition-property(transform);
    @include transition-duration(0.4s);
  }

  &.active .see-more {
    @include transform(rotate(90deg));
  }

  .for-trade {
    color: $orange;
    float: left;
  }

  .beer-details {
    @include transition-property(max-height);
    @include transition-duration(0.4s);
    @include inline-labeled-list;
    margin-left: 0 $action-width;
    margin-right: 0 $action-width;
    max-height: $item-height;
  }

  .beer-detail { width: 25%; }
  .beer-detail-name { }

  .beer-notes {
    @include text-overflow;
    border-top: 1px dotted $section-border-color;
    color: $base-font-color-light;
    display: block;
    font-size: 0.8em;
    margin: 0.25em auto 0;
    width: 99% ! important;

    & > p {
      font-size: inherit;
      display: inline;
    }
  }

  &.active {
    .beer-details { max-height: 100em; }
    .beer-notes {
      white-space: normal;

      & > p { display: block; }
    }
  }

  .beer-drawer {
    $drawer-color: $brown-accent;

    @include pad;
    background-color: $drawer-color;
    box-shadow: inset 0 1px 5px darken($drawer-color, 70%);
    display: none;
    text-align: center;
  }

  @include media($tablet) {
    $item-height: 5em;

    .beer-details { max-height: $item-height; }
    .beer-detail { width: 50%; }

    .see-more,
    .for-trade {
      line-height: $item-height;
    }

    .beer-statuses {
      .btn-group {
        line-height: $base-line-height;
        margin: 0.25em 0;

        #{$all-buttons} {
          font-size: 0.8rem;
          padding: 0.5em 0.7em;
        }
      }
    }
  }

  @include media($mobile) {
    .beer-detail {
      font-size: 0.9em;
    }
  }
}

.beer-list-empty {
  @include pad;

  .message {
    @include inline-block;
    line-height: 2.5em;
  }
  .stock-one-now { float: right; }
}
