@import '../globals/all';

.card .brew {

  .breweries {
    color: $brown-highlight;
    font-family: $small-font-family;
    @include text-overflow;

    .separator:last-of-type { display: none; }

    a {
      color: $brown;
      @include clickable;
    }
  }

  .details .style {
    font-size: 0.85em;
    display: block;
    margin: 0;
    @include text-overflow;
  }
}
