@import '../globals/all';

.brew {
  position: relative;

  .mobile-ui & {
    overflow: hidden;
    padding: 0.5em 0;
    z-index: 1;

    > * {
      position: relative;
      z-index: 1;
    }

    .brew-label {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      opacity: 0.25;
      top: 0;
      z-index: -1;
    }
  }
}

.brew-info {
  margin-bottom: 1em;
}

.brew-basics {
  .name {
    margin: 0;
    color: $brown;
  }
  .brewery-name {
    font-family: $small-font-family;
    text-transform: uppercase;
    margin: 0;
  }
}

.brew-description {
  margin-bottom: 1em;
}

.brew-details {
  @include clearfix;

  .brew-detail {
    @include span-columns(2 of 9);
    line-height: 1.1em;
    font-size: em(12, 16);

    &:last-child { @include omega; }

    label {
      font-size: inherit;
      line-height: 1em;
      margin-bottom: 0;
    }
  }
}

.from-other-cellars-legend {
  margin-bottom: 0.5em;
  font-family: $small-font-family;
  text-transform: uppercase;
  color: $brown;
  font-size: .8em;
}
.from-other-cellars-list {
  border: 1px solid $section-border-color;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-family: $large-font-family;

  li {
    @include text-overflow;
    margin-bottom: 0.5em;
    font-size: 1.2em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
