@import '../globals/all';

.card .brew-card {

  .breweries {
    color: $brown-highlight;
    font-family: $small-font-family;
    line-height: 1.25em;
    @include text-overflow;
  }

  .details .style {
    font-size: 0.85em;
    display: block;
    margin: 0;
    @include text-overflow;

    [class^="icon-"] { margin-right: 0.25em; }
  }
}
