@import '../globals/all';

.cards {
  .card {
    $label-width: 7em;

    @include media($desktop) {
      @include span-columns(4 of 12);
      @include omega(3n);
    }

    @include media($desktop-small) {
      @include omega-reset(3n);
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    @include media($tablet) {
      @include omega-reset(2n);
      @include span-columns(4 of 8);
      @include omega(2n);
    }

    @include media($mobile) {
      @include span-columns(4 of 4);

      .name a,
      .breweries,
      .style { white-space: normal !important; }
    }

    @include border-top-radius(4px);
    background-color: white;
    border: 1px solid $section-border-color;
    border-bottom: none;
    color: $brown;
    font-size: em(14, 16);
    margin-bottom: 1em;

    .content {
      min-height: $label-width;
      padding: 0.5em;
    }

    figure {
      float: left;
      margin: 0;
      width: $label-width;

      img {
        background-color: white;
      }
    }

    .specifics {
      margin-left: $label-width + 0.5em;

      .name {
        font-family: $large-font-family;
        margin: 0;
        text-transform: none;

        a {
          display: block;
          @include text-overflow;
        }
      }
    }

    .details {
      font-family: $sans-serif;
      padding: 0;
      margin: 0;

      li {
        @include inline-block;
        margin-right: 1em;

        > label {
          color: $brown-highlight;
          cursor: text;
          display: inline;
          font-family: $small-font-family;
          font-size: 0.75em;
          margin-right: 0.75em;
        }
      }
    }

    .inventory {
      $footer-height: em(32, 16);

      @include inline-block;
      padding: 0;
      margin: 0;

      li {
        @include inline-block;
        color: $orange;
        font-family: $sans-serif;
        font-size: 1.4em;
        padding: 0.25em 0.25em 0;
        border-right: 1px solid white;
        text-align: center;
        height: $footer-height;
        vertical-align: middle;
      }

      label {
        color: $brown;
        cursor: text;
        font-family: $small-font-family;
        font-size: em(8, 16);
        line-height: 1em;
        margin: 0;
        text-transform: uppercase;
      }

      .actions {
        line-height: $footer-height;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;

        a {
          color: $brown;
          padding: 0.5em 0.5em 0;
          @include clickable;

          &:hover { text-decoration: none; }
        }
      }
    }

    .footer {
      background-color: $section-background-color;
      clear: both;
      margin: 0.25em 0 0;
    }
  } // .card
}
