@import '../globals/all';

.cellar-stats {
  .full-ui & {
    border-top: 1px solid $base-border-color;
    margin-top: 1.5em;
  }

  .mobile-ui & {
    margin: 0.5em 0;
  }
}

.cellar-stats-legend {
  .mobile-ui & {
    display: none;
  }
}

.cellar-stats-list {
  @include clearfix;
  @include pad;
  border-radius: 4px;
  background-color: $section-background-color;

  .stat {
    float: left;
    margin-right: 1em;
    text-align: center;

    &:last-child { margin-right: 0; }
  }

  .stat-name {
    text-transform: uppercase;
    font-size: em(12, 16);
  }
  .stat-value {
    font-size: em(24, 16);
    font-family: $small-font-family;
    color: $brightorange;
  }
}
