@import '../globals/all';

footer {
  background-color: $brown-accent;
  min-height: 10em;
  padding: $gutter;
  padding-bottom: $gutter/1;

  ul {
    list-style: none;
    margin-left: 0px;
    li {
      border-bottom: 1px dotted #968883;
      color: white;
      font-size: 11px;
      padding: 6px 0 6px 0;
    }
  }

  .newsletter {
    input[type=email] {
      margin: 0 0.5em 0.5em 0;
      max-width: 20em;
      width: 90%;
    }

    p {
      color: white;
      @include small-text();
    }
  }

  p.legal {
    color: white;
    @include small-text();
  }
}
