@import '../globals/all';

footer {
  background-color: $brown-accent;
  color: white;
  width: 100%;

  ul {
    li {
      border-bottom: 1px dotted $brown-highlight;
      font-size: em(12);
      padding: em(6) 0;
    }
  }

  .logo, .recent-tweets, .recent-blog {
    @include span-columns(4);
    @include pad(default 0);
  }

  .logo {
    padding-left: flex-gutter();
  }

  .recent-blog {
    @include omega;
    padding-right: flex-gutter();
  }

  p.legal {
    clear: both;
    font-size: em(11);
    margin-bottom: 0;
    padding-left: flex-gutter();
  }

  @include media($mobile) {
    .logo, .recent-tweets, .recent-blog {
      display: none;
    }
  }
}
