@import '../globals/all';

footer {
  background-color: $brown-accent;
  color: white;
  width: 100%;
}

.footer-section-title {
  @include border-top-radius(4px);
  background-color: rgba(white, 0.1);
  margin-bottom: 0;
  padding: 0.25em 0.5em;

  a {
    @include clickable($orange-bright);
  }
}

.footer-section-content {
  background-color: rgba(white, 0.05);

  li {
    border-bottom: 1px dotted $brown-highlight;
    font-size: em(12);
    @include pad;
  }
}

.footer-logo, .footer-recent-tweets, .footer-recent-blog {
  @include span-columns(4 of 12);
  @include pad(default 0);

  @include media($mobile) {
    @include fill-parent;
    display: none;
  }
}

.footer-logo {
  padding-left: flex-gutter();

  img {
    height: 106px;
    width: 177px;
  }
}

.footer-mobile {
  padding: 0.25em;

  .footer-brand {
    display: inline-block;

    img {
      height: 58px;
      width: 49px;
    }

    span { display: none; }
  }
}

.footer-recent-blog {
  @include omega;
  padding-right: flex-gutter();
}

.footer-legal {
  @include pad(1em default);
  clear: both;
  font-size: em(11);
  margin-bottom: 0;
}
