@import '../globals/all';

$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10%);
$form-border-color-focus: $blue; //blue default
$form-border-radius: 3px;
$form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5%), 0.7);
$form-error-background-color: $error-color;
$form-error-color: darken($form-error-background-color, 60%);
$form-font-size: $base-font-size;
$form-font-family: $sans-serif;
$form-width: em(300);

fieldset {
  border: none;
  margin: 0;
  padding: 0; //$base-line-height $base-line-height ($base-line-height * .75) $base-line-height;

  legend {
    color: $brown;
    font-family: $header-font-family;
  }
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  color: $brown;
  font-family: $small-font-family;
  font-size: 0.8em;
  margin-bottom: $base-line-height * 0.25;
  text-transform: uppercase;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs} {
  background-color: white;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;
  box-shadow: $form-box-shadow;
  @include box-sizing(border-box);
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height * .5;
  padding: ($base-line-height * .5) ($base-line-height * .5);
  @include transition(border-color);
  width: $form-width;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled
  {
    background-color: $base-background-color-disabled;
    color: $base-font-color-disabled;
    cursor: not-allowed;
  }
}

input[type="search"] {
  @include appearance(none);
}

input[type="color"] {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  height: $base-line-height * 3;
  padding: 0;
  position: relative;
  width: $base-line-height * 5;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height * .5;
}

select {
  width: $form-width;
  margin-bottom: $base-line-height * 1.5;
}

// Add class of 'reset-style' to prevent a button from being styled
#{$all-buttons} {
  @include button-flat($base-color: #DDD, $text-color: #333);
  //@include button(flat, #fafafa);

  // Button Overrides
  font-size: $form-font-size;
  padding: 0.7em 1.5em;

  &.btn-primary {
    @include button-flat($base-color: $blue);
  }
  &.btn-alt {
    @include button-flat($base-color: $brown);
  }
  &.btn-success {
    @include button-flat($base-color: $green);
  }
  &.btn-warning {
    @include button-flat($base-color: $brightorange);
  }
  &.btn-danger {
    @include button-flat($base-color: $red);
  }
}

.btn-group {
  button,
  input[type="submit"],
  .btn {
    margin-left: 0.25em;
    margin-right: 0.25em;

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
}

.field-with-errors {
  textarea,
  #{$all-text-inputs} {

    background: $form-error-background-color;
    border-color: $form-error-color;
    color: $form-error-color;
  }

  .error {
    color: $form-error-color;
  }
}
