@import 'globals/all';

.marketing-section {
  @include clearfix;
  @include pad;
  min-height: 24em;

  h1 {
    font-size: 4em;
    line-height: 0.85em;
    text-transform: uppercase;
  }
}

.marketing-section-signup {
  background-color: $section-background-color;

  h1 { color: $orange; }

  .intro-view-main {
    @include span-columns(8 of 12);
  }

  .intro-view-sidebar {
    @include span-columns(4 of 12);
  }

  @include media($desktop) {
    h1 { font-size: 6em; }
  }

  @include media($tablet) {
    .intro-view-main,
    .intro-view-sidebar {
      @include fill-parent;
    }
  }
}

.marketing-section-stocking {
  background: $yellow image-url('marketing-section-stocking-back.gif') no-repeat center;
  text-align: center;
}

.marketing-section-tracking {
  background-color: white;
  text-align: center;

  .tracking-items {
    @include span-columns(10);
      @include shift(1);
  }
}

.marketing-section-finding {
  background-color: $section-background-color;
  text-align: center;
}

.marketing-section-pricing {
  background-color: $orange;
  text-align: center;

  h1 { color: white; }
}
