@import 'globals/all';

.marketing-section {
  h1 {
    text-transform: uppercase;
    font-size: 4em;
  }
  padding: 1em 0;
}

.marketing-section-signup {
  background-color: $section-background-color;
}

.marketing-section-junk {
  .call-to-action {
    background-color: $brown;
    margin: 0;
    text-transform: uppercase;

    a {
      color: white;
      display: block;
      padding: 0.5em 0 0.25em;

      &:hover {
        text-decoration: none;
        color: darken(white, 15%);
      }
    }
    small {
      color: $brown-highlight;
      display: block;
      font-size: em(8, 16);
      line-height: 1em;
      font-family: $small-font-family;
    }

    h2 {
      font-size: 2.5em;
    }

    li {
      border-bottom: 1px dotted $brown-highlight;
      margin: 0 1em;
      &:last-child { border-bottom: none; }
    }
  }
}

.marketing-section-stocking {
  text-align: center;
  background-color: $yellow;
}

.marketing-section-tracking {
  text-align: center;
  background-color: $section-background-color;
}

.marketing-section-pricing {
  text-align: center;
  background-color: $orange;
}