@import 'globals/all';

.marketing-section {
  h1 {
    text-transform: uppercase;
    font-size: 4em;
    color: $orange;
  }
  padding: 1em 0;
  min-height: 500px;
}

.marketing-section-signup {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: $light-beige;
  
  .intro-view {
    @include clearfix;
  }
  
  .intro-view-main {
    @include span-columns(8 of 12);
    @include pad(0px 10px 20px 20px);
      h1 {
        font-size: 6.25em;
        line-height: .8em;
      }
  }
  
  .intro-view-sidebar {
    @include span-columns(4 of 12);
  }
=======
  background-color: $section-background-color;
>>>>>>> fe74756728be60ab00a83aa75079ce1c605832a1
=======
  background-color: $section-background-color;
>>>>>>> fe74756728be60ab00a83aa75079ce1c605832a1
=======
  background-color: $section-background-color;
>>>>>>> fe74756728be60ab00a83aa75079ce1c605832a1
=======
  background-color: $section-background-color;
>>>>>>> fe74756728be60ab00a83aa75079ce1c605832a1
}

.marketing-section-junk {
  .call-to-action {
    background-color: $brown;
    margin: 0;
    text-transform: uppercase;

    a {
      color: white;
      display: block;
      padding: 0.5em 0 0.25em;

      &:hover {
        text-decoration: none;
        color: darken(white, 15%);
      }
    }
    small {
      color: $brown-highlight;
      display: block;
      font-size: 12px;
      line-height: 1em;
      font-family: $small-font-family;
    }

    h2 {
      font-size: 2.5em;
    }

    li {
      border-bottom: 1px dotted $brown-highlight;
      margin: 0 1em;
      &:last-child { border-bottom: none; }
    }
  }
}

.marketing-section-stocking {
  text-align: center;
  background-color: $yellow;
}

.marketing-section-tracking {
  text-align: center;
  background-color: $section-background-color;
}

.marketing-section-pricing {
  text-align: center;
  background-color: $orange;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    h1 {
      color: #fff;
    }
}
=======
}
>>>>>>> fe74756728be60ab00a83aa75079ce1c605832a1
=======
}
>>>>>>> fe74756728be60ab00a83aa75079ce1c605832a1
=======
}
>>>>>>> fe74756728be60ab00a83aa75079ce1c605832a1
=======
}
>>>>>>> fe74756728be60ab00a83aa75079ce1c605832a1
