@import 'item-lists';

.match-report{
  $figure-size: 3.5em;

  .matches {
    @extend %item-list;

    .match {
      padding: 0.25em;
      position: relative;
    }
  }

  .source-data {
    color: $base-font-color-light;
    font-style: italic;
  }

  .match-primary {
    @include inline-block;
    width: 40%;

    figure {
      float: left;
      height: $figure-size;
      width: $figure-size;
      margin-right: 0.5em;
    }

    .brew {
      @include text-overflow;
      margin: 0;
    }

    .breweries { @include text-overflow; }
  }

  .match-details {
    @include inline-labeled-list;
    @include inline-block;
    vertical-align: top;
    width: 50%;

    & > li {
      width: 33%;
    }

    .notes p {
      @include text-overflow;
      color: $base-font-color-light;
      font-size: 0.8em;
      margin: 0;
      width: 100% !important;
    }
  }

  .confidence {
    $badge-size: 1.5em;

    @include inline-block;
    font-size: $badge-size;
    margin-top: ($figure-size/2) - $badge-size;
    text-align: center;
    vertical-align: top;
    width: 10%;

    &.high { color: $green; }
    &.medium { color: $yellow; }
    &.none { color: $red; }
  }

  @include media($tablet) {
    $primary-width: 75%;

    .match-primary {
      width: $primary-width;
    }

    .match-details {
      border-top: 1px dotted $section-border-color;
      margin-top: 0.25em;
      display: block;
      width: 100%;
    }

    .confidence {
      position: absolute;
      right: 0;
      top: 0;
      width: 100% - $primary-width;
      text-align: center;
    }
  }
}
