@import '../globals/all';

.product {
  position: relative;

  .mobile-ui & {
    overflow: hidden;
    padding: 0.5em 0;
    z-index: 1;

    > * {
      position: relative;
      z-index: 1;
    }

    .product-image {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      opacity: 0.25;
      top: 0;
      z-index: -1;
    }

    &.brewery .product-image {
      // Because brewery images are short & wide...
      min-height: initial;
    }
  }
}

.product-details {
  label {
    margin-bottom: 0;
  }

  .mobile-ui & {
    margin-bottom: 0.5em;
  }

  .product-detail {
    color: $base-font-color-light;
    line-height: 1.1em;
    margin-bottom: 0.5em;

    .mobile-ui & {
      @include inline-block;
      margin-right: 1em;

      &:last-child { margin-right: 0; }
    }

    &.description p {
      font-size: 0.9em;
    }
  }
}

.product-details-image {
  $border-radius: 4px;

  margin-bottom: 0.5em;

  img {
    @include border-top-radius($border-radius);
    background-color: white;
    border: 1px solid $section-background-color;
    display: block;
    padding: $border-radius;
  }

  .stats-box-list {
    border-radius: 0 0 $border-radius $border-radius;
  }
}

