@import '../globals/all';

.profile-box {
  background-color: $yellow;
  $text-well-background-color: lighten($yellow, 10%);
  $text-well-color: $brown;

  border-radius: 3px;
  padding: 1em;
  margin-bottom: 1em;

  .avatar {
    border-radius: 3px;
    float: left;
    margin-right: 1em;
    width: 128px;
  }

  .bio {
    $line-height: 1.1em;

    clear: both;
    color: $text-well-color;
    font-family: $sans-serif;
    font-size: em(12, 16);
    line-height: $line-height;
    margin: 0.5em 0 0;
  }

  .username {
    color: $brown;
    margin: 0;
    padding: 0;
    line-height: 1em;
    text-transform: uppercase;

    small {
      color: lighten(desaturate($brown, 20%), 15%);
      font-size: em(10, 16);
      margin-left: 0.5em;
      white-space: nowrap;
      text-transform: capitalize;
    }
  }
  .demographics {
    $text: $brown;
    $lighter-text: $brown-accent;

    color: $text;
    font-size: em(14, 16);
    margin: 0;
    position: relative;
    top: -0.5em;

    li {
      @include inline-block;
      @include text-overflow;
      margin-right: 1em;
    }

    i {
      color: $lighter-text;
      margin-right: 0.25em;
    }
  }

  .stats {
    position: relative;
    top: -0.25em;

    dl {
      @include inline-block;
      color: $orange;
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 1em;
    }
    dt {
      font-family: $large-font-family;
      letter-spacing: 0px;
      margin-top: 0;
    }
    dd {
      @include inline-block;
      background-color: $text-well-background-color;
      border-right: 1px solid $brown;
      color: $text-well-color;
      font-family: $small-font-family;
      font-size: em(11, 16);
      margin-left: 0;
      min-height: 3em;
      padding: 0.5em 1.5em 0.25em;
      text-align: center;
      text-transform: uppercase;

      &:first-of-type {
        @include border-left-radius(8px);
      }
      &:last-of-type {
        border-right: none;
        @include border-right-radius(8px);
      }

      span {
        color: $orange;
        display: block;
        font-size: em(36, 16);
      }
    }
  }

  /* Landscape phones and down */
  @include media($mobile) {
    $avatar-width: 80px;

    .avatar {
      margin-right: 0.5em;
      width: $avatar-width;
    }

    .username {
      line-height: 1em;
      font-size: 1.25rem;

      small { display: none; }
    }

    .demographics {
      font-family: $small-font-family;
      font-size: 0.9em;
      margin-left: $avatar-width + 8;
      top: 0;

      li {
        line-height: 1em;
        white-space: nowrap;
        width: 100%;
      }
    }

    .stats {
      margin-top: 0.5em;
    }

    .bio { display: none; }
  }
}
