@import '../globals/all';

.search-results {
  $search-base-font-size: 1.8;
  $search-height: 3;

  .search-results-header {
    @include clearfix;
    position: relative;
  }

  .search-form {
    @include span-columns(10 of 12);
    @include shift(1);
    @include omega;
    position: relative;

    .query {
      background: no-repeat 15px center image-url('searchiconline_large.png');
      font-size: $search-base-font-size * 1em;
      height: ($search-height/$search-base-font-size) * 1em;
      line-height: 1.5em;
      padding-left: 2.5em;
      padding-right: 3.5em;
      margin: 0;
      width: 100%;
    }

    .search-button {
      $search_margin: 0.25em;

      bottom: $search_margin;
      font-family: $small-font-family;
      font-weight: bolder;
      position: absolute;
      right: $search_margin;
      text-transform: uppercase;
      top: $search_margin;
    }
  }

  .search-results-summary {
    @include fill-parent;
    @include pad(0.5em);

    background-color: $yellow;
    margin: (flex-gutter()/2) 0;
    text-align: right;
  }

  .search-result {
    $icon-width: 48px;
    @include row;

    border: 1px solid $base-border-color;
    border-radius: 3px;
    margin-bottom: 1em;

    .basic-info {
      @include span-columns(6 of 12);

      padding: 0.5em;
    }

    .more-info {
      @include text-overflow;
      @include span-columns(6 of 12);
      @include omega;

      padding: 0.5em;
    }

    .name {
      @include text-overflow;
      line-height: $icon-width;
      margin: 0 auto;
    }

    .icon {
      @include inline-block;
      margin-right: 0.5em;
      min-width: $icon-width;
      width: $icon-width;

      img {
        border-radius: 3px;
        height: $icon-width;
        width: $icon-width;
        vertical-align: middle;
      }
    }

    .prefix {
      color: $base-font-color-light;
      display: block;
      font-size: 0.85em;
      position: relative;
      bottom: -0.5em;
      left: -0.5em;
    }

    @include media($mobile) {
      .basic-info { @include fill-parent; }
      .more-info { @include fill-parent; }
    }
  }
}
