@import '../globals/all';

.stats-box {
  .full-ui & {
    margin-bottom: 0.5em;
  }

  .mobile-ui & {
    margin: 0.5em 0;
  }
}

.stats-box-list {
  @include clearfix;
  @include pad;
  border-radius: 4px;
  background-color: $section-background-color;

  .mobile-ui & {
    background-color: rgba($section-background-color, 0.9);
  }

  .stat {
    @include inline-block;
    text-align: center;

    &:first-child {
      &:nth-last-child(1) { width: 100%; }

      &:nth-last-child(2),
      &:nth-last-child(2) ~ .stat { width: 50%; }

      &:nth-last-child(3),
      &:nth-last-child(3) ~ .stat { width: 33%; }

      &:nth-last-child(4),
      &:nth-last-child(4) ~ .stat { width: 25%; }
    }
  }

  .stat-name {
    text-transform: uppercase;
    font-size: em(12, 16);
  }
  .stat-value {
    font-size: em(24, 16);
    font-family: $small-font-family;
    color: $brightorange;
  }
}
