@import '../globals/all';

.stats-box {
  .full-ui & {
    margin-bottom: 0.5em;
  }

  .mobile-ui & {
    margin: 0.5em 0;
  }
}

.stats-box-list {
  @include clearfix;
  @include pad;
  border-radius: 4px;
  background-color: $section-background-color;

  .mobile-ui & {
    background-color: rgba($section-background-color, 0.9);
  }

  .stat {
    float: left;
    margin-right: 1em;
    text-align: center;

    &:last-child { margin-right: 0; }
  }

  .stat-name {
    text-transform: uppercase;
    font-size: em(12, 16);
  }
  .stat-value {
    font-size: em(24, 16);
    font-family: $small-font-family;
    color: $brightorange;
  }
}
