@import '../globals/all';

.switch-to-desktop {
  @include clickable(white);
  float: right;
  font-size: 1.5rem;
  line-height: 58px; // MAGIC: Height of .footer-brand image

  [class^="fa fa-"] { margin-right: 0.25em; }
}

.switch-to-mobile {
  background-color: $dark-gray;
  display: block;
  font-family: $header-font-family;
  font-size: 2rem;
  padding: 0.25em 0;
  text-align: center;

  &:link, &:visited {
    color: white;

    &:hover, &:focus {
      color: shade(white, 15%);
    }
  }

  [class^="fa fa-"] { margin-right: 0.25em; }
}
