@import '../globals/all';

/* These are the colors we used to use. Delete them if not used
    after we finish the transition to Bourbon
$table-background: lighten($section-background-color, 10%);
$table-background-accent: desaturate(lighten($table-background, 4%), 10%);
$table-background-hover: desaturate(darken($table-background, 5%), 5%);
*/

table {
  margin: ($base-line-height * .5) 0;
  width: 100%;
}

thead {
  border-bottom: 1px solid darken($base-border-color, 15%);
}

th {
  font-weight: bold;
  text-align: left;
}

td {
  border-bottom: 1px solid $base-border-color;
}

caption, th, td {
  padding: $base-line-height * .5;
}

caption {
  background: #f1f1f1;
  margin-bottom: $base-line-height * .5;
  padding: ($base-line-height * .5) 0;
}

tr, td, th {
  vertical-align: middle;
}
