<h1>Browse Breweries</h2>

<fieldset class="beers-cellared">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Brewery</th>
        <th>Beers Made</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for brewery in @breweries %>
        <tr class="beer">
          <td><%= link_to brewery.name, brewery %></td>
          <td>NA</td>
          <td>
            <%= link_to 'View List', brewery_path(brewery), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
<%= paginate @breweries %>

