<h2><%= @brewery.name %></h2>

<p>Visit them at <%= link_to @brewery.website, @brewery.website, title: @brewery.name %>.</p>

<fieldset class="beers-cellared">
  <legend>Beers</legend>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Style</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for brew in @brewery.brews %>
        <tr class="brew">
          <td><%= link_to brew.name, brew %></td>
          <td>Style Name Here</td>
          <td>
            <button class="btn btn-primary">Cellar It!</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>

  <!--
<div class="span3 widget">
    <h3>Other Brews</h3>
    List of other brews by this brewery 
    <ul>
      <li>Brew One</li>
      <li>Brew Two</li>
    </ul>
  </div>
-->

<p>
  Don't see the beer you were looking for? <%= link_to 'Add it now', new_brew_path(brewery: @brewery), class: 'btn' %>
</p>
