---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/breweries?key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"currentPage":1,"numberOfPages":77,"totalResults":3840,"data":[{"id":"Klgom2","name":"''t
        Hofbrouwerijke","website":"http:\/\/www.thofbrouwerijke.be\/","isOrganic":"N","images":{"icon":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/Klgom2\/upload_Ks8JQY-icon.png","medium":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/Klgom2\/upload_Ks8JQY-medium.png","large":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/Klgom2\/upload_Ks8JQY-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:43","updateDate":"2012-03-21 19:06:19"},{"id":"cJio9R","name":"(512)
        Brewing Company","description":"(512) Brewing Company is a microbrewery located
        in the heart of Austin, brewing for the community using as many local, domestic
        and organic ingredients as possible. The original practice of small breweries
        supplying their immediate community has been nearly lost, and with it, the
        quality that is possible from small handcrafted batches. Our beers are built
        on old world English and Belgian recipes, but enhanced to celebrate bold domestic
        ingredients. Made with Austin\u2019s mineral rich water, the (512) beers taste
        like none other.","website":"http:\/\/www.512brewing.com\/","established":"2008","isOrganic":"N","images":{"icon":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/cJio9R\/upload_knal4J-icon.png","medium":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/cJio9R\/upload_knal4J-medium.png","large":"http:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/cJio9R\/upload_knal4J-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:43","updateDate":"2012-06-27 13:22:37"},{"id":"snQlvg","name":"10 Barrel
        Brewing Company","descr[...]
- request:
    method: get
    uri: http://api.brewerydb.com/v2/breweries?key=API_KEY&p=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"currentPage":2,"numberOfPages":77,"totalResults":3840,"data":[{"id":"X0HMO8","name":"[...]
[...]
