<label>Batch/Year: <%= fb.text_field :batch, class: 'span8' %></label>
<label>Born on date: <%= fb.text_field :born_on, class: 'span8' %></label>
<label>Best by date: <%= fb.text_field :best_by, class: 'span8' %></label>
