<label>Batch/Year: <%= fb.text_field :batch, class: 'span8' %></label>
<label>Bottled on: <%= fb.text_field :bottled_on, class: 'span8' %></label>
<label>Best by: <%= fb.text_field :best_by, class: 'span8' %></label>
