<ul>
  <% for beer in @beers %>
    <li class="beer"><%= link_to beer.brew.name, [beer.user, beer] %>,
      by <%= link_to beer.brew.brewery.name, beer.brew.brewery %>
    </li>
  <% end %>
</ul>

<p>
  Missing a beer? <%= link_to 'Cellar it!', new_beer_path, class: 'btn' %>
</p>

