/*
select {
  font-weight: normal;
  display: inline-block;
  height: 20px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  width: 100%;
  border: 1px solid #bbb;
}

select[multiple],
select[size] {
  height: auto;
}
*/