.brews.brews-show {
  hgroup {
    .brew, .brewery {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 0.5em;
      text-transform: none;
    }
  }

  .brew-details {
    margin-top: 0;
    @include inline-definition-list;

    dt {
      color: $brown;

      &:first-child { margin-left: 0; }
    }
  }
}
