.brews.brews-show {
  .brew {
    hgroup {
      .name, .brewery-name {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 0.5em;
        text-transform: none;
      }
    }

    .add-to-cellar {
      float: right;
      margin-top: 0.75em;
    }

    .details {
      margin-top: 0;
      @include inline-definition-list;

      dt {
        color: $brown;

        &:first-child { margin-left: 0; }
      }
    }
  }

  .beers-cellared {
    .status {
      .dropdown-menu {
        min-width: initial;
        padding: 0;

        li { margin: 0.5em; }
        button { min-width: 10em; }
      }
    }
  }
}
