.brews.brews-show {
  .brew {
    hgroup {
      .name, .brewery-name {
        @include inline-block;
        margin-bottom: 0;
        margin-right: 0.5em;
        text-transform: none;
      }
    }

    .add-to-cellar {
      float: right;
      margin-top: 0.75em;
    }

    .details {
      margin-top: 0;
      @include inline-definition-list;

      dt {
        color: $brown;

        &:first-child { margin-left: 0; }
      }
    }
  }

  .cellared-beers {
    .status {
    }
  }
}
