.searches.searches-show {
  $search_base_font_size: 1.8;
  $search_height: 3;

  .search-results {
    form.search {
      position: relative;

      .query {
        background: no-repeat 15px center image-url('searchiconline_large.png');
        font-size: $search_base_font_size * 1em;
        height: ($search_height/$search_base_font_size) * 1em;
        line-height: 1.5em;
        padding-left: 2.5em;
        padding-right: 3.5em;
        width: 100%;
        @include box-sizing(border-box);
      }

      .search-button {
        $search_margin: 0.25em;
        @extend .btn-primary;

        bottom: $search_margin;
        font-family: $smallFontFamily;
        font-weight: bolder;
        position: absolute;
        right: $search_margin;
        text-transform: uppercase;
        top: $search_margin;
      }
    }

  .search-summary {
    text-align: right;
    line-height: $search_height;
  }

  .result {
    $icon-width: 48px;

    .icon {
      min-width: $icon-width;
      width: $icon-width;

      img {
        height: $icon-width;
        width: $icon-width;
        @include border-radius(3px);
      }
    }
    .name {
      width: 22em;
      &> * { text-transform: none; }
    }

    .prefix {
      color: $grayLight;
      display: block;
      font-size: 0.85em;
      position: relative;
      bottom: -0.5em;
      left: -0.75em;
    }
  }

  table thead th { background-color: $yellow; }

  .nav { margin-bottom: 0px; }
  }
}
