.searches.searches-show {
  $icon-width: 48px;
  .result {
    .icon {
      min-width: $icon-width;
      width: $icon-width;

      img {
        height: $icon-width;
        width: $icon-width;
        @include border-radius(3px);
      }
    }
    .name {
      width: 22em;
      &> * { text-transform: none; }
    }
  }
}
