.splash {
  background-color: $brewdega-orange;

  .call-to-action {
    background-color: $brown;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    min-height: 20em;

    a {
      color: $white;
      display: block;
      padding: 0.5em 0 0.25em;

      &:hover {
        text-decoration: none;
        color: darken($white, 15%);
      }
    }
    small {
      color: $lightBrown;
      display: block;
      font-size: 12px;
      line-height: 1em;
      font-family: $smallFontFamily;
    }
    
    h2 {
	    font-family: $largeFontFamily;
	    font-size: 32px;
    }

    li {
      border-bottom: 1px dotted $lightBrown;
      margin: 0 1em;
      &:last-child { border-bottom: none; }
    }
  }
  .carousel {
    background-color: transparent;
    text-transform: uppercase;
  }
}
