/*
 *= require_self
 */

@import "base/variables";

/* Pull in full boostrap, for now. Eventually, only the parts we want. */
@import "bootstrap";
@import "bootstrap-responsive";

@import "base/defaults";
@import "shared/awning";
@import "shared/page-header";
@import "shared/footer";
@import "splash";


.small {
  font-size: 11px;
  line-height: 12px;
  color: $brown;
}

.brew-details {
  line-height: 1em;
  color: $brown;
}

.beerlabel {
  margin-bottom: 20px;
}

.page-container {
  background: $bodyBackground;
  padding: 0 $gridGutterWidth 0;
}

@media (min-width: 980px) {
  .page-container {
    padding-top: ($navbarHeight + 10px);
    padding-bottom: 20px;
  }
}

@media (max-width : 320px) {
  .page-header {
    .logo {
      margin-top: 0px;
    }
    /*
.secondary-nav a {
      font-size: .7em;
    }
*/
  }
}

@media (max-width: 480px) {
  .splash {
    .call-to-action h2 {
      font-size: 2.1em;
    }
  }
  .browse {
    margin-bottom: 10px;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .page-header {
    .logo {
      margin-top: 0px;
    }
    .secondary-nav a {
      font-size: 1.1em;
    }
  }
}

@media (max-width: 767px) {
  .splash {
    .call-to-action h2 {
      font-size: 1.85em;
    }
  }
  .page-header {
    .logo {
      text-align: center;
      margin-top: 20px;
    }

    .secondary-nav {
      text-align: center;
    }

    .browse {
      margin-bottom: 10px;
    }
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}


.dashboard {
  @include border-radius(3px);
  background-color: #fec846;
}

.widget{
  @include border-radius(3px);
  background-color: #fec846;
  font-size: 0.85em;
  padding: 6px 15px 6px 15px;

  h3 {
    font-size: 1.4em;
  }

  ul {
    list-style: none;
    margin-left: 0px;
    li {
      border-bottom: 1px dotted #968883;
      color: $brown;
      font-size: 11px;
      padding: 6px 0 6px 0;
    }
  }
}


