@import "variables";

/* Pull in full boostrap, for now. Eventually, only the parts we want. */
@import "bootstrap";
@import "bootstrap-responsive";

body {
  background-image: url(image_path('bg-bottles.png'));
  background-attachment: fixed;
}

@media (min-width: 980px) {
  .navbar-inner {
    height: $navbarHeight;
    background: transparent url(image_path('awning.png')) repeat-x;
    @include box-shadow(none);
  }

  .page-container {
    padding-top: $navbarHeight + 10px;
  }
}

.page-container {
  background: $bodyBackground;
}
