@import "variables";

/* Pull in full boostrap, for now. Eventually, only the parts we want. */
@import "bootstrap";
@import "bootstrap-responsive";

body {
  background-image: url(image_path('bg-bottles.png'));
  background-attachment: fixed;
}

@import "navbar";
@import "splash";
@import "footer";

.page-container {
  background: $bodyBackground;
  padding: 0 $gridGutterWidth 0;
}

@media (min-width: 980px) {
  .page-container {
    padding-top: ($navbarHeight + 10px);
  }
}

.page-header {
  $pageHeaderHeight: 80px;

  border-bottom: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;

  .home {
    display: inline-block;
    line-height: $pageHeaderHeight;
  }

  .secondary-nav {
    text-align: right;

    li {
      display: inline-block;
      line-height: $pageHeaderHeight;
      margin-left: $gridGutterWidth;
      text-transform: uppercase;
    }

    a {
      $linkColor: $brown;

      color: $linkColor;
      font-size: 1.1em;
      font-weight: bolder;
      &:hover { color: darken($linkColor, 15%); }
    }
  }

  .search {
    .query {
      font-size: 1.5em;
      height: auto;
      line-height: 1.5em;
      width: 100%;
      @include box-sizing(border-box);
    }

    .search-button {
      text-transform: uppercase;
    }
  }

  .browse {
    background-color: $brown;
    padding: 1px 0;

    & > a {
      color: $lightBrown;
      display: block;
      font-size: 1.5em;
      line-height: 1em;
      padding: 0.5em;
      text-transform: uppercase;

      .caret { float: right; }
    }
  }
}

